@page "/"

<PageTitle>Index</PageTitle>

<h1> <br >********************************<br />
               I am a Baby_Kusto_CSharp   <br />
          ********************************<br />
 </h1>

<FileUpload />