@page "/file-upload"
@using System
@using System.IO
@using BabyKusto.Core
@using BabyKusto.Core.Evaluation
@using BabyKusto.Core.Extensions
@using Kusto.Language.Symbols
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@inject ILogger<FileUpload> Logger
@inject IWebHostEnvironment Environment

<p>
    <label>Please upload a CSV file with your data</label><br />
</p>

<p>
    <label>
        KQL query:
        <textarea spellcheck="false" rows="10" cols="50"
            style="font-family: monospace;"
            value="@queryValue" @oninput="@GetValue" placeholder="Please use 'Data' as your query table name."></textarea>
        <InputFile OnChange="@LoadFiles" />
    </label>
</p>


@if (isLoading)
{
    <p>Uploading...</p>
}
else
{
    <ul>
        @foreach (var resultData in resultToDisplay)
        {
            <li>
                <ul>
                    <li>Query result:</li>
                    <li><pre>@resultData</pre></li>
                </ul>
            </li>
        }
    </ul>
}

@code {
    private List<string> resultToDisplay = new List<string>();
    private long maxFileSize = 1024 * 15;
    private int maxAllowedFiles = 3;
    private bool isLoading;
    private InMemoryTableSource myTable = GetDefaultTable();
    private string queryValue = "Data";

    private static InMemoryTableSource GetDefaultTable()
    {
        var myTable = new InMemoryTableSource(
            TableSymbol.From("(AppMachine:string, CounterName:string, CounterValue:real)").WithName("MyTable"),
            new Column[]
            {
                Column.Create(ScalarTypes.String, new [] { "vm0", "vm0", "vm1", "vm1", "vm2" }),
                Column.Create(ScalarTypes.String, new [] { "cpu", "mem", "cpu", "mem", "cpu" }),
                Column.Create(ScalarTypes.Real, new double?[] { 50.0, 30.0, 20.0, 5.0, 100.0 }),
            });
        return myTable;
    }

    protected override Task OnInitializedAsync()
    {
        queryValue = 
            "MyTable\n" +
            "| project AppMachine,\n" +
            "          CounterName,\n" +
            "          v=CounterValue/100\n";
        queryTable();
        return Task.CompletedTask;
    }

    private void GetValue(ChangeEventArgs e)
    {
        queryValue = e.Value.ToString();
        if (myTable != null)
        {
            queryTable();
        }
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        isLoading = true;

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            try
            {
                myTable = (InMemoryTableSource)await fileProcessor(file);
                if (queryValue != null)
                {
                    queryTable();
                }
            }
            catch (Exception ex)
            {
                Logger.LogError("File: {Filename} Error: {Error}",
                    file.Name, ex.Message);
            }
        }

        isLoading = false;
    }

    private async Task<object?> fileProcessor(IBrowserFile file)
    {
        var columnName = Array.Empty<string>();
        var rowValues = Array.Empty<object?>();
        var columns = new List<List<object?>>();

        try
        {
            using (StreamReader sr = new StreamReader(file.OpenReadStream(maxFileSize)))
            {
                string? line;

                // Read line by line
                var rowNum = 0;
                while ((line = await sr.ReadLineAsync()) != null)
                {
                    if (rowNum == 0)
                    {
                        // ['a', 'b']
                        columnName = line.Split(',');

                        // Initialize column list
                        var c = 0;
                        while (c < columnName.Length)
                        {
                            columns.Add(new List<object?>());
                            c++;
                        }
                    }
                    else
                    {
                        // [1.0, 2.0]
                        rowValues = line.Split(',');

                        // Fill column array
                        var r = 0;
                        while (r < rowValues.Length)
                        {
                            columns[r].Add(rowValues[r]);
                            r++;
                        }
                    }
                    rowNum++;
                }
            }

            return new InMemoryTableSource(
                new TableSymbol(columnName.Select(c => new ColumnSymbol(c, ScalarTypes.String))).WithName("MyTable"),
                columns.Select(c => new Column<string>(ScalarTypes.String, c.Select(v => v.ToString()).ToArray())).ToArray());
        }
        catch (Exception e)
        {
            Console.WriteLine("The file could not be read:");
            Console.WriteLine(e.Message);
            return "Please refer console for more details.";
        }
    }

    private void queryTable()
    {
        resultToDisplay.Clear();
        try
        {
            var engine = new BabyKustoEngine();
            engine.AddGlobalTable("MyTable", myTable);

            var result = engine.Evaluate(queryValue);
            if (result is TabularResult tabularResult)
            {
                resultToDisplay.Add(tabularResult.Value.DumpToString());
            }
        }
        catch (Exception e)
        {
            resultToDisplay.Add(e.Message);
        }
    }
}